{% extends 'base.html.twig' %}

{% block content %}
    <div class="row">
      <div class="large-12 columns text-center">
        <h1>Coupe Davis 2016 - Belgium / Croatie</h1>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns text-center">
        <div class="callout success">
          <h5>Se connecter</h5>
          <p>It has an easy to override visual style, and is appropriately subdued.</p>
          <a href="#">It's dangerous to go alone, take this.</a>
        </div>      
      </div>
    </div>
    

{% endblock %}
